.toggle{
    display: flex;
    justify-content:space-between;
    border: 3px solid #009CB1;
    border-radius: 1rem;
    position: relative;
    padding: 2px;
    cursor: pointer;

}
.toggle>*{
    width: 1rem;
    height: 1rem;
    color: #009CB1;
}
.t-button{
    border-radius: 100%;
    background: #009CB1;
    position: absolute;
}
